.cursor {
  animation: 30s linear infinite alternate bp-animation;
  background: linear-gradient(
    to bottom,
    /* 明确渐变方向 */ #ff2d95,
    /* 亮粉色 */ #ff4500,
    /* 橙红色 */ #ffd700,
    /* 金色 */ #7cfc00,
    /* 草坪绿 */ #20f5ee,
    /* 草坪绿 */ #00c3ff,
    /* 青色 */ #1e90ff,
    /* 道奇蓝 */ #9370db,
    /* 洋红色 */ #ff1493 /* 深粉色 */
  );
  background-size: 100% 1200%; /* 增加背景尺寸增强流动效果 */
  border-radius: 90px;
  overflow: visible !important;
  z-index: 10000000000000000;
  /* box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);  */
}

/* 定义 bp-animation 动画关键帧 */
@keyframes bp-animation {
  /* 动画开始时，背景位置在顶部 */
  0% {
    background-position: 0 0;
  }
  /* 动画进行到 20% 时，背景位置向下移动 */
  20% {
    background-position: 0 166.6%;
  }
  /* 动画进行到 40% 时，背景位置继续向下移动 */
  40% {
    background-position: 0 333.3%;
  }
  /* 动画进行到 60% 时，背景位置继续向下移动 */
  60% {
    background-position: 0 500%;
  }
  /* 动画进行到 80% 时，背景位置继续向下移动 */
  80% {
    background-position: 0 666.6%;
  }
  /* 动画结束时，背景位置移动到底部 */
  100% {
    background-position: 0 833.3%;
  }
}
