/* html标签属性 */
:not(.cursor).mtk9 {
  background-image: linear-gradient(45deg, #eacd61, #ea618e) !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  font-weight: 700 !important;
  font-style: italic !important;
}
/*html标签*/
:not(.cursor).mtk10 {
  background-image: linear-gradient(45deg, #00d4ff, #1a94ff) !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  font-weight: 700 !important;
}
/*字符串*/
:not(.cursor).mtk13 {
  background-image: linear-gradient(45deg, #00ff04, #00ff99) !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  font-weight: 700 !important;
}
/*声明，int,double,let等*/
:not(.cursor).mtk15 {
  background-image: linear-gradient(45deg, #b78aff, #f644ff) !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  font-weight: 700 !important;
}
:not(.cursor).mtk3 {
  background-image: linear-gradient(45deg, #ff9900, #eaff00) !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  font-weight: 700 !important;
}
:not(.cursor).mtk12 {
  background-image: linear-gradient(45deg, #22ecdb, #00bbff) !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  font-weight: 700 !important;
}
:not(.cursor).mtk16:matches(
    .token.keyword.type.primitive,
    .token.keyword.type.builtin
  ) {
  background-image: linear-gradient(45deg, #ff738a, #ff7349) !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  font-weight: 700 !important;
}
.mtk1:not(.cursor):not(.dyn-rule-2-34):not(.colorpicker-color-decoration) {
  background-image: linear-gradient(
    135deg,
    /* 明确渐变方向 */ #ffc1e0,
    /* 亮粉色 */ #ffd5c6,
    /* 橙红色 */ #fff6c5,
    /* 金色 */ #e0ffc1,
    /* 草坪绿 */ #bdffff,
    /* 青色 */ #c3e1ff,
    /* 道奇蓝 */ #d7c4ff,
    /* 中紫色 */ #ffc0ff,
    /* 洋红色 */ #ffc8e5 /* 深粉色 */
  ) !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  font-weight: 700 !important;
}
