/* 选中标签栏上边框 */
@keyframes tabBorderTopMoveGradient {
  from {
    background-position: 0% !important;
  }
  to {
    background-position: 100% !important;
  }
}
.tab.tab-actions-right.sizing-fit.has-icon.tab-border-bottom.tab-border-top.active {
  --tab-border-top-color: transparent !important;
  position: relative !important;
}
.tab.tab-actions-right.sizing-fit.has-icon.tab-border-bottom.tab-border-top.active:after {
  content: '' !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 2px !important;
  z-index: 1000 !important;
  background-image: linear-gradient(
    to right,
    #eacd61,
    #ea618e,
    #3cec85,
    #61afea
  ) !important;
  animation: tabBorderTopMoveGradient 3s infinite alternate !important;
  background-size: 200% !important;
}
