/* 设置粘性小部件的背景为透明 */
div.sticky-widget {
  --vscode-editorStickyScroll-background: transparent !important;
  backdrop-filter: blur(20px) brightness(110%) !important;
}

div.monaco-hover {
  --vscode-editorHoverWidget-background: #ffffff !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* 添加柔和的阴影 */
  border-radius: 4px !important; /* 圆角效果 */
}

/* 快速输入小部件样式 */
div.quick-input-widget {
  --vscode-quickInput-background: transparent !important;
  backdrop-filter: blur(20px) brightness(140%) !important;
}

/* 输入框样式 */
div.monaco-inputbox {
  --vscode-input-background: transparent !important;
}

/* 聚焦状态样式 */
div.focused {
  --vscode-quickInputList-focusBackground: #04395e80 !important;
}
